body {
	font-family: 'Signika', 'sans-serif';
	font-weight: 400;
	color: #212121;
	text-align: center;
	font-size: 25px;
}
p, form {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}
h1 {
	font-size: 66px;
	line-height: 66px;
	margin: 0;
}
.wrapper {
	position: absolute;
	left: 50%; top: 50%;
	width: 1000px; height: 300px;
	margin: -150px 0 0 -500px;
}
input[type="text"] {
	display: block;
	margin: 0 auto;
	background: #e6e6e6;
	height: 30px;
	border: 1px solid #ccc;
	width: 720px;
	padding: 10px;
	border-radius: 25px;
	font-size: 25px;
	color: #aaa;
	outline: none;
}
input[type=submit] {
	height: 50px;
	width: 150px;
	background: #3355ee;
	border: 0;
	border-radius: 10px;
	color: #fff;
	font-family: 'Signika', 'sans-serif';
	font-weight: 400;
	font-size: 25px;
	margin-top: 25px;
}
.hidden {
	opacity: 0;
	visibility: hidden;
	/*transition*/
	-webkit-transition:opacity .4s ease, visibility .4s ease;
	   -moz-transition:opacity .4s ease, visibility .4s ease;
	     -o-transition:opacity .4s ease, visibility .4s ease;
	        transition:opacity .4s ease, visibility .4s ease;
}
.up {
	top: 175px;
	/*transition*/
	-webkit-transition:top .8s ease;
	   -moz-transition:top .8s ease;
	     -o-transition:top .8s ease;
	        transition:top .8s ease;
}