/*USER INPUT*/
.user-input {
	opacity: 1;
	position: relative;
	/*transition: transform .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);*/
}
input {
	display: block;
	margin: 15px auto;
	height: 26px;
	width: 476px;
	padding: 12px;
	font-size: 18px;
	color: #575757;
	border-radius: 6px;
	border: 0;
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	outline: none;
}
.compute {
	width: 320px;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 6px;
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	line-height: 60px;
	padding: 0;
	margin: 45px auto;
	overflow: hidden;
}

.compute span {
	display: inline-block;
}

.compute-wrapper {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(40%,rgba(255,255,255,0.1)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


	transform:  translateY(-82px);
	transition: transform .2s ease;
}

.compute-wrapper:hover {
	transform:  translateY(0);
	transition: transform .2s ease;
}

.decoration {
	margin-bottom: 22px;
}

.male {
	display: inline-block;
	vertical-align: middle;
}
.compute-wrapper .male {
	height: 36px;
	width: 60px;
	transform:  translateY(-82px);
	transition: transform .2s ease;
	transition-delay: .1s;
}
.compute-wrapper:hover .male {
	transform:  translateY(0);
	transition: transform .2s ease;
	transition-delay: .2s;
}

.female {
	display: inline-block;
	vertical-align: middle;
}
.compute-wrapper .female {
	height: 37px;
	width: 60px;
	transform:  translateY(-82px);
	transition: transform .2s ease;
	transition-delay: .2s;
}
.compute-wrapper:hover .female {
	transform:  translateY(0);
	transition: transform .2s ease;
	transition-delay: .1s;
}

.female path, .male path {
	fill: #fff;
}