/*OVERLAYS*/
.overlay {
	position: absolute;
	display: none;
	width: 100%;
	top: 0;
	overflow: hidden;
	min-height: 100%;
	background: #000;
	z-index: 10;
}

.overlay.show {
	display: block;
}

.person {
	position: absolute;
	transition: all .3s ease;
}
.person a {
	display: block;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.person img {
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .4s ease;
}

.person .show {
	opacity: 1;
}
.person:hover {
	z-index: 5;
	transform: translateZ(0) scale(1.25, 1.25);
	-webkit-backface-visibility: hidden;
}

.person-overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	padding-top: 45%;
	background: rgba(111, 53, 111, .8);
	width: calc(100% - 16px);
	height: calc(55% - 16px);
	opacity: 0;
	border: 8px solid #fc70f3;
	transition: all .3s ease;
	transition-delay:.1s;
}
.guys-overlay .person-overlay {
	background: rgba(60, 154, 254, .8);
	border: 8px solid #3C9AFE;
}
.person:hover .person-overlay {
	opacity: .8;
	transition-delay: 0s;
}
.person-overlay span{
	display: block;
	opacity: 0;
	text-align: left;
	font-size: 25px;
	margin-left: 7px;
	transition: all .3s ease;
	transition-delay: .1s;
	-webkit-backface-visibility: hidden;
	line-height: 1.1;
	text-overflow: ellipsis;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
}
.person:hover span {
	opacity: 1;
}
.person-overlay hr {
	border: none;
	background: #fff;
	height: 7px;
	width: 0;
	margin-left: 7px;
	transition: all .4s ease;
	transition-delay: .1s;
}
.person:hover hr {
	width: calc(100% - 14px);
}

.close {
	position: fixed;
	display: block;
	z-index: 6;
	right: -60px;
	top: 20%;
	width: 160px;
	height: 60px;
	background: #fe64f8;
	transition: all .3s ease;
	border-radius: 5px 0 0 5px;
	text-align: left;
	padding-left: 12px;
	cursor: pointer;
}
.guys-overlay .close {
	background: #3C9AFE;	
}

.close:hover {
	right: 0;
}

.close .icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.close span {
	line-height: 60px;
	font-size: 23px;
	text-transform: uppercase;
	margin-left: 55px
}

.top-transition {
	transform-origin: 50% 0;
}
.bottom-transition {
	transform-origin: 50% 100%;
}

.left-transition {
	transform-origin: 0 50%;
}
.right-transition {
	transform-origin: 100% 50%;
}

.top-transition.left-transition {
	transform-origin: 0 0;
}

.top-transition.right-transition {
	transform-origin: 100% 0;
}

.bottom-transition.left-transition {
	transform-origin: 0 100%;
}

.bottom-transition.right-transition {
	transform-origin: 100% 100%;
}