/*@import is bad, but who cares, it's going to be minified!*/
@import url(imports/marka.css);
@import url(imports/animations.css);
@import url(imports/steps.css);
@import url(imports/footer.css);
@import url(imports/results.css);
@import url(imports/input.css);
@import url(imports/loading.css);
@import url(imports/login.css);
@import url(imports/logo.css);
@import url(imports/overlays.css);

/*GENERAL*/
html, body {
	width: 100%;
	height: 100%;
	background: #000;
}

body {
	background: url(/assets/img/bg.png) 0 0 repeat;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	color: #fff;
	text-align: center;
	font-weight: normal;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	overflow: hidden;
	opacity: 0;
}
a {
	text-decoration: none;
	outline: none;
}
.show {
	opacity: 1;
	transition: opacity .7s ease;
}
::-webkit-input-placeholder {
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

:-ms-input-placeholder {  
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}
h1 {
	margin: 0;
	font-size: 18px;
	font-weight: normal;
}
.tweet-container {
	position: absolute;
	top: 10px;
	left: 10px;
}
.fb-like.fb_iframe_widget {
	position: absolute;
	left: 10px;
	top: 40px;
}