/*@import is bad, but who cares, it's going to be minified!*/
@import url(marka.css);

/*GENERAL*/

html, body {
	width: 100%;
	height: 100%;
	background: #000;
}

body {
	background: url(/assets/img/bg.png) 0 0 repeat;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	color: #fff;
	text-align: center;
	font-weight: normal;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	overflow: hidden;
	opacity: 0;
}
a {
	text-decoration: none;
	outline: none;
}
.show {
	opacity: 1;
	transition: opacity .7s ease;
}
::-webkit-input-placeholder {
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}

:-ms-input-placeholder {  
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}
h1 {
	margin: 0;
	font-size: 18px;
	font-weight: normal;
}
.twitter-share-button {
	position: absolute;
	top: 10px;
	left: 10px;
}
.fb-like.fb-iframe-widget {
	position: absolute;
	left: 10px;
	top: 40px;
}









/*Facebook login*/
.facebook-login {
	display: none;	
}
.step0 .facebook-login{
	display: block;
}










/*LOGO*/
.logo {
	position: relative;
	width: 500px;
	display: block;
	margin: 0 auto;
	overflow: auto;
	transition: transform .7s ease;
    transition-delay: .5s;
    transform-origin: 50% 0;
}
.logo a {
	position: relative;
	z-index: 2;
	width: 359px;
	height: 258px;
	display: block;
	margin: 71px auto;
	background: url(/assets/img/spritealigned.png) 0 0 no-repeat;
}
.show .logo a {
    animation: logo 1s steps(23) .3s forwards;
}
.logo img {
	height: 100%;
	z-index: 1;
    vertical-align: bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
	transition: opacity 1.3s ease;
    transition-delay: .5s;
}
.show .logo img {
	opacity: 1;
}










/*USER INPUT*/

.step0 .user-input{
	opacity: 0;
}

.user-input {
	opacity: 1;
	position: relative;
	/*transition: transform .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);*/
}
input {
	display: block;
	margin: 15px auto;
	height: 26px;
	width: 476px;
	padding: 12px;
	font-size: 18px;
	color: #575757;
	border-radius: 6px;
	border: 0;
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	outline: none;
}
.compute {
	width: 320px;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 6px;
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	line-height: 60px;
	padding: 0;
	margin: 45px auto;
	overflow: hidden;
}

.compute span {
	display: inline-block;
}

.compute-wrapper {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(40%,rgba(255,255,255,0.1)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


	animation:computeButton;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.decoration {
	margin-bottom: 22px;
}

.male {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 36px;
	animation: maleFemaleButton;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: .1s;
}

.female {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 37px;
	animation: maleFemaleButton;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.compute .svg path {
	fill: #fff;
}










/*RESULTS*/

.step2 .logo{
	transform: scale(0.75);
}
.step2 .user-input {
	display: block;
	opacity: 1;
	animation: hideThat 1s forwards;
}
.results {
	position: relative;
}
.results .event-name {
	display: block;
	margin: 0 auto;
	width: 500px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	font-size: 16px;
  	text-transform: uppercase;
}
.results .white-line {
	display: inline-block;
	vertical-align: middle;
	height: 2px;
	width: 50px;
	margin: 0 10px;
	background: #fff;
}
.results .event-date-block {
	border: 1px solid #fff;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	padding: 8px 0;
	width: 48px;
	height: 32px;
	vertical-align: middle;
	display: inline-block;
}
.results .event-date-block span {
	font-size: 14px;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}
.results .male-icon {
	fill: #3c9afe;
}

.results .female-icon {
	fill: #fe64f8;
}

.male #Layer_1,
.male-icon #Layer_1 {
	display: none;
}
.female #Layer_2,
.female-icon #Layer_2 {
	display: none;
}

.results .actions {
	position: relative;
}

.results .see{
	width: 120px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 23px;
	background: transparent;
	border: solid #fff;
	border-width: 1px 1px 1px 0;
	color: #fff;
	border-radius: 4px;
	font-family: 'Fjalla One', sans-serif;
	-webkit-text-stroke: 0;
	-webkit-font-smoothing: antialiased;
	line-height: 40px;
	padding: 0;
	position: absolute;
	transition: all .3s ease;
	cursor: pointer;
}

.results .see:hover {
	width: 160px;
}

.results .see-guys {
	border-width: 1px 0 1px 1px;
	right: 50%;
	margin-right: -140px;
	color: #fff;
}

.results .see-guys:hover {
	color: rgb(35,74,116);
	background: rgba(35,74,116,0.1);
	border-color: #234a74;
	margin-right: -180px;
}

.results .see-girls {
	left: 50%;
	margin-left: -140px;	
	color: #fff;
}

.results .see-girls:hover {
	background: rgba(111,53,111,0.1);
	color: rgb(111,53,111);
	border-color: #6f356f;	
	margin-left: -180px;	
}

.see:before {
    background: transparent;
    border: solid #fff;
    border-width: 0 0 1px 1px;
    border-radius: 4px 0 4px 0;
    content: '';
    display: block;
    height: 29px;
    left: -11px;
    position: absolute;
    top: 3px;
    width: 26px;
    transform: rotate(45deg);
    transition: all .3s ease;
}

.see-guys:before {
    background: transparent;
    border: solid #fff;
    border-width: 1px 1px 0 0;
    border-radius: 4px 0 4px 0;
    content: '';
    display: block;
    height: 31px;
    right: -10px;
    left: inherit;
    position: absolute;
    top: 3px;
    transform: rotate(45deg);
    width: 28px;
}
.see-guys:hover:before {
	/*background: rgba(35,74,116,0.1);*/
	border-color: #234a74;
	background: -moz-linear-gradient(0deg rgba(35,74,116,0.1) 50%, rgba(0,0,0,0) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, right top, left bottom,  color-stop(50%,rgba(35,74,116,0.1)), color-stop(51%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg rgba(35,74,116,0.1) 50%,rgba(0,0,0,0) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg rgba(35,74,116,0.1) 50%,rgba(0,0,0,0) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg rgba(35,74,116,0.1) 50%,rgba(0,0,0,0) 51%); /* IE10+ */
	background: linear-gradient(0deg rgba(35,74,116,0.1) 50%,rgba(0,0,0,0) 51%); /* W3C */
}

.see-girls:hover:before {
	/*background: rgba(111,53,111,0.1);*/
	border-color: #6f356f;	
	background: -moz-linear-gradient(0deg rgba(111,53,111,0.1) 50%, rgba(0,0,0,0) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top,   color-stop(50%,rgba(111,53,111,0.1)), color-stop(51%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg rgba(111,53,111,0.1) 50%,rgba(0,0,0,0) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg rgba(111,53,111,0.1) 50%,rgba(0,0,0,0) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg rgba(111,53,111,0.1) 50%,rgba(0,0,0,0) 51%); /* IE10+ */
	background: linear-gradient(0deg rgba(111,53,111,0.1) 50%,rgba(0,0,0,0) 51%); /* W3C */
}










/*OVERLAYS*/

.overlay {
	position: absolute;
	display: none;
	width: 100%;
	top: 0;
	overflow: hidden;
}

.overlay.show {
	display: block;
}

.person {
	position: absolute;
	transition: all .3s ease;
}
.person a {
	display: block;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.person img {
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .4s ease;
}

.person .show {
	opacity: 1;
}
.person:hover {
	z-index: 5;
	transform: translateZ(0) scale(1.25, 1.25);
	-webkit-backface-visibility: hidden;
}

.person-overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	padding-top: 45%;
	background: rgba(111, 53, 111, .8);
	width: calc(100% - 16px);
	height: calc(55% - 16px);
	opacity: 0;
	border: 8px solid #fc70f3;
	transition: all .3s ease;
	transition-delay:.1s;
}
.person:hover .person-overlay {
	opacity: .8;
	transition-delay: 0s;
}
.person-overlay span{
	display: block;
	opacity: 0;
	text-align: left;
	font-size: 25px;
	margin-left: 7px;
	transition: all .3s ease;
	transition-delay: .1s;
	-webkit-backface-visibility: hidden;
	line-height: 1;
}
.person:hover span {
	opacity: 1;
}
.person-overlay hr {
	border: none;
	background: #fff;
	height: 7px;
	width: 0;
	margin-left: 7px;
	transition: all .4s ease;
	transition-delay: .1s;
}
.person:hover hr {
	width: 80%;
}

.close {
	position: fixed;
	display: block;
	z-index: 6;
	right: -60px;
	top: 20%;
	width: 160px;
	height: 60px;
	background: #fe64f8;
	transition: all .3s ease;
	border-radius: 5px 0 0 5px;
	text-align: left;
	padding-left: 12px;
	cursor: pointer;
}

.close:hover {
	right: 0;
}

.close .icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.close span {
	line-height: 60px;
	font-size: 23px;
	text-transform: uppercase;
	margin-left: 55px
}

.top-transition {
	transform-origin: 50% 0;
}

.left-transition {
	transform-origin: 0 50%;
}
.right-transition {
	transform-origin: 100% 50%;
}

.top-transition.left-transition {
	transform-origin: 0 0;
}

.top-transition.right-transition {
	transform-origin: 100% 0;
}

@keyframes computeButton{
  0% {
    transform:  translateY(0);
  }
  7% {
    transform:  translateY(-82px);
  }
  60% {
    transform:  translateY(-82px);
  }
  67% {
    transform:  translateY(0);
  }
  100% {
    transform:  translateY(0);
  }
}

@-moz-keyframes computeButton{
  0% {
    -moz-transform:  translateY(0);
  }
  7% {
    -moz-transform:  translateY(-82px);
  }
  60% {
    -moz-transform:  translateY(-82px);
  }
  67% {
    -moz-transform:  translateY(0);
  }
  100% {
    -moz-transform:  translateY(0);
  }
}

@-webkit-keyframes computeButton {
  0% {
    -webkit-transform:  translateY(0);
  }
  7% {
    -webkit-transform:  translateY(-82px);
  }
  60% {
    -webkit-transform:  translateY(-82px);
  }
  67% {
    -webkit-transform:  translateY(0);
  }
  100% {
    -webkit-transform:  translateY(0);
  }
}

@-o-keyframes computeButton {
  0% {
    -o-transform:  translateY(0);
  }
  7% {
    -o-transform:  translateY(-82px);
  }
  60% {
    -o-transform:  translateY(-82px);
  }
  67% {
    -o-transform:  translateY(0);
  }
  100% {
    -o-transform:  translateY(0);
  }
}

@-webkit-keyframes maleFemaleButton {
  0% {
    -webkit-transform:  translateY(0);
  }
  5% {
    -webkit-transform:  translateY(-82px);
  }
  60% {
    -webkit-transform:  translateY(-82px);
  }
  67% {
    -webkit-transform:  translateY(0);
  }
  100% {
    -webkit-transform:  translateY(0);
  }
}
@keyframes maleFemaleButton {
  0% {
    transform:  translateY(0);
  }
  5% {
    transform:  translateY(-82px);
  }
  60% {
    transform:  translateY(-82px);
  }
  67% {
    transform:  translateY(0);
  }
  100% {
    transform:  translateY(0);
  }
}
@-moz-keyframes maleFemaleButton {
  0% {
    -moz-transform:  translateY(0);
  }
  5% {
    -moz-transform:  translateY(-82px);
  }
  60% {
    -moz-transform:  translateY(-82px);
  }
  67% {
    -moz-transform:  translateY(0);
  }
  100% {
    -moz-transform:  translateY(0);
  }
}
@-o-keyframes maleFemaleButton {
  0% {
    -o-transform:  translateY(0);
  }
  5% {
    -o-transform:  translateY(-82px);
  }
  60% {
    -o-transform:  translateY(-82px);
  }
  67% {
    -o-transform:  translateY(0);
  }
  100% {
    -o-transform:  translateY(0);
  }
}

@keyframes logo {
	0% { background-position: 0; }
	100% { background-position: -8257px; }
}
@-webkit-keyframes logo {
	0% { background-position: 0; }
	100% { background-position: -8257px; }
}
@-moz-keyframes logo {
	0% { background-position: 0; }
	100% { background-position: -8257px; }
}
@-o-keyframes logo {
	0% { background-position: 0; }
	100% { background-position: -8257px; }
}

@keyframes hideThat {
	0% { opacity: 1; height: auto; }
	99% { opacity: 0; height: auto; }
	100% { opacity: 0; height: 0; }
}
@-webkit-keyframes hideThat {
	0% { opacity: 1; height: auto; }
	99% { opacity: 0; height: auto; }
	100% { opacity: 0; height: 0; }
}
@-moz-keyframes hideThat {
	0% { opacity: 1; height: auto; }
	99% { opacity: 0; height: auto; }
	100% { opacity: 0; height: 0; }
}
@-o-keyframes hideThat {
	0% { opacity: 1; height: auto; }
	99% { opacity: 0; height: auto; }
	100% { opacity: 0; height: 0; }
}